<%- include('../../templets/header.ejs') %>
<%- include('../../templets/sidebar.ejs') %>
<%- include('../../templets/navbar.ejs') %>

  <!-- Begin Page Content -->
  <div class="container-fluid">

    <%- include('../partial/message.ejs') %>

      <!-- Page Heading -->
      <h1 class="h3 mb-4 text-gray-800">Data Keluarga</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdd">
                    Add
                </button>
            </div>
            <div class="card-body">
                <%- include('table_keluarga.ejs') %>
            </div>
        </div>
        <!-- end data table -->

</div>
 <!-- /.container-fluid -->
<%- include('modal_add.ejs') %>
<%- include('modal_edit.ejs') %>
<%- include('../../templets/footer.ejs') %>

<script>
    $(document).on('click', '#btn-edit',function(){
        let name = $(this).data('nama_keluarga');
        let id   = $(this).data('id')
        let keterangan   = $(this).data('keterangan')
        $('#formEdit #nama_keluarga').val(name);
        $('#formEdit #keterangan').val(keterangan);
        $('#formEdit #id').val(id);
        $('#modalEdit').modal('show')
    })
</script>